<div class="home-bg">
  <div class="container-inner">
    <h1>Helping neighbors build communities</h1>
    <p>We are one site of the Local Initiatives Support Corporation (LISC), the nation’s largest community development support organization. Our mission is to help neighborhood residents create healthy and sustainable places of choice and opportunity – good places to live, work, raise children and conduct business.  <a href="">Learn More</a></p>
    <div class="home-btn">
      <p>How you can help <span class="icon icon-chevron-thin-right"></span></p>
    </div>
  </div>
</div>
<div class="home-breakdown container-inner">
  <h2>How We Impact Lives</h2>
  <p>Learn how our organization helps the Washington DC community and it’s inhabitants.</p>
  <div class="breakdown-list">
    <div class="breakdown-item">
      <div class="breakdown-left">
        <span class="icon icon-home6"></span>
      </div>
      <div class="breakdown-right">
        <h3>2,500 Homes Built / Preserved</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum eleifend velit nec blandit.</p>
      </div>
    </div>
    <div class="breakdown-item">
      <div class="breakdown-left">
        <span class="icon icon-store2"></span>
      </div>
      <div class="breakdown-right">
        <h3>365 Grocery Stores Funded</h3>
        <p>Consectetur adipiscing elit fusce bibendum eleifend velit nec blandit.</p>
      </div>
    </div>
    <div class="breakdown-item">
      <div class="breakdown-left">
        <span class="icon icon-aid-kit"></span>
      </div>
      <div class="breakdown-right">
        <h3>30 Health Centers Created</h3>
        <p>Ipsum dolor sit amet consectetur adipiscing elit fusce bibendum eleifend velit nec blandit.</p>
      </div>
    </div>
    <div class="breakdown-item">
      <div class="breakdown-left">
        <span class="icon icon-display3"></span>
      </div>
      <div class="breakdown-right">
        <h3>25K Technical Assistance Hours Logged</h3>
        <p>Consectetur adipiscing elit fusce bibendum eleifend velit nec blandit.</p>
      </div>
    </div>
  </div>
</div>
<div class="wrap-home-articles">

  <div class="home-article article-news">
    <div class="container-inner">
      <h3>
        <span class="icon icon-newspaper"></span>
        Life in the Neighborhoods of Washington, DC: Oral Histories
      </h3>
      <p>This is a series of 7 oral histories, produced by DC LISC, about the people and neighborhoods of Washington, DC. The oral histories were completed with the support of the DC Community Heritage Project of the Humanities Council of Washington, DC.</p>
    </div>
    <div class="article-btn">
      <p><span class="icon icon-youtube"></span>Listen Now</p>
    </div>
    <div class="article-img">
      <img src="images/home-article1.jpg">
    </div>
  </div>

  <div class="home-article article-donate">
    <div class="container-inner">
      <h3>
        <span class="icon icon-gift"></span>
        Donate to LISC
      </h3>
      <p>LISC relies on the generous support of individuals and institutions to assist our efforts to transform distressed communities into healthy and sustainable places to live, work, and raise families.</p>
    </div>
    <div class="article-btn">
      <p><span class="icon icon-heart"></span>Give Now</p>
    </div>
    <div class="article-img">
      <img src="images/home-article2.jpg">
    </div>
  </div>

</div>